<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" *ngFor="let page of pages; let i = index">
            <span *ngIf="!page.active">
                <a [routerLink]="page.route">{{page.name}}</a>
            </span>
            <span *ngIf="page.active">
                {{page.name}}
            </span>
        </li>
    </ol>
</nav>

<!-- <div class="col">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" *ngFor="let item of breadcrumbList; let i = index"
            [class.active]="i===breadcrumbList.length-1">
            <a [routerLink]="item.path" *ngIf="i!==breadcrumbList.length-1">
                {{ item.name }}
            </a>
            <span *ngIf="i===breadcrumbList.length-1">{{ item.name }}</span>
        </li>
    </ol>
</div> -->