<h4 *ngIf="title" class="title">{{title}}</h4>

<div [ngSwitch]="view">

    <div *ngSwitchCase="'horizontal'">
        <table>
            <tr>
                <td *ngFor="let legend of legends">
                    <div class="circle" [style.backgroundColor]="legend.color"> </div>
                    <div class="legend-text">{{legend.name}}</div>
                </td>
            </tr>
        </table>

    </div>

    <div *ngSwitchCase="'vertical'">
        <div *ngFor="let legend of legends">
            <div class="legend-container">
                <div class="circle" [style.backgroundColor]="legend.color"> </div>
                <div class="legend-text">{{legend.name}}</div>
            </div>
        </div>
    </div>

</div>