<div class="mx-auto wrap-login">
    <div class="justify">
        <img class="logo" src="/assets/img/Logo-7system.jpg" />
    </div>
    <div class="justify">
        <h3>Recupere sua senha</h3>
    </div>
    <form [formGroup]="forgotForm" (ngSubmit)="forgotPassword()">

        <mat-form-field>
            <input matInput type="email" placeholder="Email" formControlName="email" autocomplete="off">
        </mat-form-field>

        <button class="btn btn-lg btn-custom btn-block text-uppercase" type="submit">Recuperar senha</button>
        <hr class="my-4">
        <div class="justify">
            <p>Ja possui uma conta? <a routerLink="/login">Faça login</a></p>
        </div>
    </form>
</div>