:host {
    display: flex;
    justify-content: center;
  }
  
  .mat-form-field {
    width: 100%;
    min-width: 300px;
  }
  
  .logo {
    width: 130px;
  }
  
  mat-card-title,
  mat-card-content {
    display: flex;
    justify-content: center;
  }
  .justify{
    display: flex;
    justify-content: center;
  }
  
  .btn-social {
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .btn-social:hover {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
  
  .button {
    display: flex;
    justify-content: flex-end;
  }
  
  .wrap-login {
  width: 500px;
  border-radius: 10px;
  overflow: hidden;
  padding: 55px 55px 37px 55px;
  border: 0;
  margin: 30px;
  border-radius: 6px;
  color: #333333;
  background: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
  
  @media (max-width: 550px) {
  .wrap-login {
    padding: 55px 15px 37px 15px;
    width: 100%;
  }
  }
  
  .custom-icon{
  font-size: 160% !important;
  }