@media (min-width: 992px){
  .typo-line{
      padding-left: 140px;
      margin-bottom: 40px;
      position: relative;
  }

  .typo-line .category{
      transform: translateY(-50%);
      top: 50%;
      left: 0px;
      position: absolute;
  }
}
.sebm-google-map-container {
height: 300px;
}
#map{
  position:relative;
  width:100%;
  height: calc(100% - 60px);
  margin-top: 70px;
}

.places-buttons .btn{
  margin-bottom: 30px
}

.space-70{
  height: 70px;
  display: block;
}

.tim-row{
  margin-bottom: 20px;
}

.tim-typo{
  padding-left: 25%;
  margin-bottom: 40px;
  position: relative;
}
.tim-typo .tim-note{
  bottom: 10px;
  color: #c0c1c2;
  display: block;
  font-weight: 400;
  font-size: 13px;
  line-height: 13px;
  left: 0;
  margin-left: 20px;
  position: absolute;
  width: 260px;
}
.tim-row{
  padding-top: 50px;
}
.tim-row h3{
  margin-top: 0;
}
@media (min-width: 992px){

  .typo-line{
      padding-left: 140px;
      margin-bottom: 40px;
      position: relative;
  }

  .typo-line .category{
      transform: translateY(-50%);
      top: 50%;
      left: 0px;
      position: absolute;
  }
}


/* You can add global styles to this file, and also import other style files */

.spinner {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.spinner div {
  display: inline-block;
  position: absolute;
  left: 6px;
  width: 13px;
  background: rgb(194, 84, 84);
  animation: spinner 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.spinner div:nth-child(1) {
  left: 6px;
  animation-delay: -0.24s;
}
.spinner div:nth-child(2) {
  left: 26px;
  animation-delay: -0.12s;
}
.spinner div:nth-child(3) {
  left: 45px;
  animation-delay: 0;
}
@keyframes spinner {
  0% {
    top: 6px;
    height: 51px;
  }
  50%, 100% {
    top: 19px;
    height: 26px;
  }
}

.card .card-header-custom .card-icon, .card .card-header-custom .card-text, .card .card-header-custom:not(.card-header-icon):not(.card-header-text), .card.bg-custom, .back{
  background: linear-gradient(60deg, #31319f, #060555);
}

.mat-button.btn.btn-custom, .mat-raised-button.btn.btn-custom, .mat-raised-button.btn:not([class*=mat-elevation-z]).btn-custom, .btn.btn-custom {
  color: #fff;
  background: linear-gradient(60deg, #31319f, #060555);
  border-color: #060555;
  box-shadow: 0 2px 2px 0 rgba(49, 49, 159, 1), 0 3px 1px -2px rgba(49, 49, 159, 1), 0 1px 5px 0 rgba(49, 49, 159, 1);
}

.sidebar[data-color=danger] li.active > a {
  background: linear-gradient(60deg, #31319f, #060555);
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(54, 67, 244, 0.4);
}

.sidebar[data-color=danger] li.active > a.sub-item {
  background: #aaa9a9;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(54, 67, 244, 0.4);
  opacity: 0.75;
  color: #000;
}

.sidebar .nav li.active > [data-toggle="collapse"] i {
  color: #fff;
}

.text-custom {
  color: #060555 !important;
}

.mat-flat-button.mat-custom, .mat-raised-button.mat-custom, .mat-fab.mat-custom, .mat-mini-fab.mat-custom {
  background-color: #070652;
  color: #fff;
}

.icon-desbravar-symbol{
  width: 17px;
  margin-right: 1px;
  padding-bottom: 2px;
}

.breadcrumb{
  background-color: transparent !important;
}

.mat-flat-button.mat-accent, .mat-raised-button.mat-accent, .mat-fab.mat-accent, .mat-mini-fab.mat-accent {
  background-color: #216e1f;
}

.mat-icon.mat-accent {
  color:#216e1f;
}

.mat-button.mat-accent, .mat-icon-button.mat-accent, .mat-stroked-button.mat-accent {
  color: #216e1f;
}

.mat-button.mat-warning, .mat-icon-button.mat-warning, .mat-stroked-button.mat-warning {
  color: #ffa726;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  height: 40px !important;
}

.mat-toolbar, .mat-toolbar h1, .mat-toolbar h2, .mat-toolbar h3, .mat-toolbar h4, .mat-toolbar h5, .mat-toolbar h6 {
  font: 500 15px/12px Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
}

.mat-button.mat-custon, .mat-icon-button.mat-custon, .mat-stroked-button.mat-custon {
  color: #070657;
}

.sidebar .user {
  padding-bottom: 20px;
  margin: 20px auto 0;
  position: relative;
}
.sidebar .user:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 15px;
  height: 1px;
  width: calc(100% - 30px);
  background-color: rgba(180, 180, 180, 0.3);
}
.sidebar .user .photo {
  width: 34px;
  height: 34px;
  overflow: hidden;
  border-radius: 50%;
  position: absolute;
  left: 23px;
  z-index: 5;
  box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.sidebar .user .photo img {
  width: 100%;
}
.sidebar .user a {
  color: #3C4858;
  padding: 6px 10px;
  display: block;
  white-space: nowrap;
}
.sidebar .user .info .caret {
  position: absolute;
  top: 16px;
  right: 26px;
}
.sidebar .user .info > a {
  padding-left: 70px;
}

.animation-transition-general, .sidebar .logo .simple-text, .sidebar .logo .logo-normal, .sidebar .user .photo, .sidebar .user a, .hide-sidebar .sidebar, .hide-sidebar.sidebar-mini .sidebar, .animation, .login-page .card-login, .lock-page .card-profile {
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
}

.sidebar .nav li.active > [data-toggle="collapse"] {
  color: #fff;
}