<div class="container-not-found">
    <div class="row-not-found">
        <div class="column-not-found col-md-6 col-sm-12">
            <img src="../../../assets/img/not-found.svg">
        </div>
        <div class="column-not-found col-md-6 col-sm-12">
            <h1 class="item-not-found">404</h1>
            <h2 class="item-not-found">Página nao encontrada</h2>
            <button class="btn btn-custom btn-block item-not-found" routerLink="/login">
                Voltar para o inicio</button>
        </div>
    </div>
</div>