<h1 mat-dialog-title>Adicionar Telefone</h1>

<div mat-dialog-content>
    <mat-form-field>
        <input matInput type="text" placeholder="Descição" [(ngModel)]="data.description">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" placeholder="Número" [(ngModel)]="data.number">
    </mat-form-field>

    <mat-slide-toggle [(ngModel)]="data.isWhatsapp">é WhatsApp</mat-slide-toggle>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancelar</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial> Salvar </button>
</div>