.profile {    
    position: absolute;
    width: 100%;
    bottom: 1%;
    border: 0;
    margin-bottom: 1%;
    margin-top: 30px;
    color: #333333;
    background: #fff;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}

.profile:hover {
    background: #f0f0f0;
}

.profile-item {
    color:#4c4c4c;
    text-align: center;
}

.profile-picture{
    border-radius: 50%;
    height: 70px;
    margin-bottom: 30px;
    margin-top: -34px;
    margin-left: 37%;
    transition: all .5s;
    border: 1px solid transparent;
}

.profile-picture:hover{
    border: 1px solid #333333;
    border-radius: 50%;
}