<div class="row">
    <div class="col-12">
        <breadcrumb [pages]="breadcrumbPages"></breadcrumb>
    </div>
</div>
<div class="row">
    <div class="col-xl-8 col-md-12 col-sm-12">
        <div class="card with-transition">
            <div class="card-header card-header-tabs card-header-custom">
                <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                        <h4 class="card-title">Usuários</h4>
                        <p class="card-category">Gerencie os Desbravadores do seu clube</p>
                    </div>
                </div>
            </div>

            <div class="card-body">

                <div class="newUser pull-right">
                    <button mat-mini-fab color="custom" aria-label="Novo clube" matTooltip="Novo Clube"
                        [routerLink]="['/club']">
                        <mat-icon>add_user</mat-icon>
                    </button>
                </div>

                <div class="table-responsive">
                    <mat-form-field>
                        <mat-label>Filtrar</mat-label>
                        <input matInput (keyup)="applyFilter($event)" autocomplete="false">
                    </mat-form-field>

                    <mat-table #table [dataSource]="dataSource" matSort class="mat-table">
                        <ng-container matColumnDef="name">
                            <mat-header-cell *matHeaderCellDef> Nome do Clube </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <img class="logo-clube" [src]="row.logo">
                                {{row.name}}
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="responsible">
                            <mat-header-cell *matHeaderCellDef> Responsável </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                {{row.responsible}}
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="district">
                            <mat-header-cell *matHeaderCellDef> Distrito </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                {{row.district}}
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="actions">
                            <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <button mat-raised-button type="button" matTooltip="Editar Clube"
                                    [matTooltipPosition]="'above'" [routerLink]="['/club']"
                                    [queryParams]="{clubId: row.id}"
                                    class="btn btn-link btn-sm btn-just-icon btn-warning">
                                    <i class="material-icons">edit</i>
                                </button>

                                <button mat-raised-button type="button" matTooltip="Deletar Clube"
                                    [matTooltipPosition]="'above'" (click)="deleteClub(row)"
                                    class="btn btn-link btn-sm btn-just-icon btn-danger">
                                    <i class="material-icons">delete</i>
                                </button>
                            </mat-cell>
                        </ng-container>

                        <mat-header-row class="mat-header-row" *matHeaderRowDef="displayedColumns">
                        </mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;" class="selectable mat-row">
                        </mat-row>
                    </mat-table>

                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>